
<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Omoarukhe Oladele. it was meticulously built using open source weather and geocoding Apis to get the most precise weather based data information possible</p>
        <img class="portrait" src="/images/Dele-2.jpg">
    </div>
    
    {{>footer}}
</body>

</html>